@tailwind base;
@tailwind components;
@tailwind utilities;
a.active{
    color:#534202;
}

button:hover{
    color:black;
    border: 2px solid black;
}
html{
  scroll-behavior: smooth;
}
button:active{
  background-color: blueviolet;
}