@tailwind base;
@tailwind components;
@tailwind utilities;
a.active{
    color:#534202;
}
body {
    @apply bg-white text-black;
  }
  
  .dark body {
    @apply bg-gray-900 text-white;
  }
.dark all{
   @apply text-white;
}


button:hover{
    color:black;
    border: 2px solid black;
}
html{
  scroll-behavior: smooth;
}
button:active{
  background-color: blueviolet;
}