@tailwind base;
@tailwind components;
@tailwind utilities;
a.active{
    color:#534202;
}
body {
    @apply bg-white text-black;
  }
  
  .dark body {
    @apply bg-gray-900 text-white;
  }
.dark all{
   @apply text-white;
}
@keyframes floatXY {
  0% { transform: translate(0, 0); }
  50% { transform: translate(15px, -10px); }
  100% { transform: translate(0, 0); }
}

.float-xy {
  animation: floatXY 2s ease-in-out infinite;
}

button:hover{
    color:black;
    border: 2px solid black;
}
html{
  scroll-behavior: smooth;
}
button:active{
  background-color: blueviolet;
}